# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/nbproject/private/
!/vendor/assetic/
!/vendor/swiftmailer/
!/vendor/doctrine-dbal/
!/vendor/metadata/
!/vendor/monolog/
!/vendor/symfony/
!/vendor/twig/
!/vendor/doctrine/
!/vendor/doctrine-common/
!/vendor/twig-extensions/
!/vendor/bundles/