{# footer #}
<div class="footer">
    <div class="footer_inner">
        <div class="container_12">
            <div class="grid_8">
                <div class="botmenu">
                    <ul>
                        <li><a href="index.html"><span>Inicio</span></a></li>
                        <li><a href="menus.html"><span>Menu</span></a></li>
                        <li><a href="about.html"><span>About</span></a></li>
                        <li><a href="location.html"><span>Location</span></a></li>
                        <li><a href="reservations.html"><span>Reservations</span></a></li>
                        <li><a href="blog.html"><span>Blog</span></a></li>
                        <li><a href="contact.html"><span>Contact</span></a></li>
                    </ul>
                </div>
                <div class="copyright">&copy; 2012  All Rights Reserved - Cafe Lounge.By Themefuse - <a href="http://themefuse.com/" target="_blank" style="color:#000">Premium WordPress Themes</a></div>
            </div>
            <div class="grid_4"> <a href="#" class="social_facebook">Join us on FACEBOOK</a> <a href="#" class="social_twitter">Follow us on TWITTER</a> </div>
            <div class="clear"></div>
        </div>
    </div>
</div>